*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    color: #000000;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

/* Typography */
.location-country,
.maps-link,
.attraction-description,
.attraction-dates {
  font-size: 0.85rem;
}

h1, h2, p {
    margin: 0;
}

.logo-text {
    font-weight: 500;
}

.location-country {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.attraction-description {
  line-height: 1.4;
}

.attraction-name {
  font-size: 1.4rem;
}

.attraction-dates {
  font-weight: 700;
}

/* General rules */
img {
    display: block;
    object-fit: cover;
    object-position: center;
}

a {
  display: inline-block;
}

/* Flexbox */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

/* Layout */
.attraction-card,
.attraction-location-container,
.logo-container,
.main-content-container {
  align-items: center;
}

.site-header,
.site-footer,
.main-content-container {
  justify-content: center;
}

.site-header,
.site-footer {
    background-color: #F55A5A;
    padding: 1.2em;
}

.logo-text,
.footer-text {
  color: #ffffff;
}

.app-body {
  min-height: 100vh;
}

/* Header */
.logo-img {
    width: 24px;
}

.logo-text {
    margin-left: 0.5em;
}

.main-content-container {
  flex: 1;
  padding: 0.5em 1.5em;
}

/* Card */
.attraction-card {
  max-width: 900px;
  padding: 2.5em 0;
  gap: 1em;
}

.attraction-card:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

.attraction-img {
  width: 125px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 5px;
}

.attraction-details-container {
  gap: 0.4em;
}

.maps-marker {
  width: 10px;
}

.location-country {
  margin: 0 1.2em 0 0.4em;
}

.maps-link {
  color: #918E9B;
  transition: all 300ms;
}

.maps-link:focus,
.maps-link:hover {
  color: #F55A5A;
  font-weight: 700;
}

.attraction-name {
  margin-bottom: 0.6em;
}

.attraction-dates {
  margin-bottom: 0.35em;
}

@media(min-width: 850px) {
  .maps-link,
  .attraction-dates {
    font-size: 1rem;
  }

  .attraction-img {
    width: 200px;
    height: 280px;
  }

  .maps-marker {
    width: 16px;
  }

  .location-country {
    font-size: 1.2rem;
  }

  .maps-link {
    margin-left: 4em;
  }

  .attraction-name {
    font-size: 1.7rem;
  }

  .attraction-description {
    font-size: 1.15rem;
  }
  
}